.fresheners-container {
  padding: 20px;
  overflow-x: hidden;
  overflow-wrap: anywhere;
}

.products-row {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  gap: 20px;
  padding-bottom: 10px;
}

.product-card {
  flex: 0 0 auto;
  width: 200px;
  /* Adjust card width as needed */
}

.card-img-top {
  height: 150px;
  /* Adjust image height as needed */
  object-fit: cover;
}

.discount-badge {
  background-color: #ff0000;
  color: white;
  padding: 5px;
  font-size: 0.8em;
  border-radius: 5px;
  margin-top: 10px;
}